<!DOCTYPE html>
<html>
    <head>
        <title>Bootstrap Tutorial</title>

        <!-- Required tags to make the website responsive-->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Add Bootstrap CSS to the page -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">

        <!-- My own custom styles -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body>

        <div class="container-fluid">
            <div class="row">
                <div class="col-6" style="background: lightgoldenrodyellow">
                    <p>I want to buy stuff</p>
                </div>

                <div class="col-6" style="background: lightgreen">
                    <p>I want to sell stuff</p>
                </div>
            </div> <!-- /.row -->

            <div class="row">
                <div class="col-8" style="background: lightcyan">
                    <p>This is the main content</p>
                </div>

                <div class="col-4" style="background: lightpink">
                    <p>This is the side bar</p>
                </div>
            </div> <!-- /.row -->
        </div>

        <script src="{{ url_for('static', filename='jquery.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap.bundle.js') }}"></script>
    </body>
</html>
